body,
html {
    background-color: #383042;
}

canvas#sweater-canvas {
    height: 19px;
    width: 190px;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
}