body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

.container {
    position: fixed;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    background-color: #CDEAE7;
}

#flake-holder {
    display: none;
}

#sweater-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 450px;
    height: 400px;
    margin: auto;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/img/sweater.png");

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#pattern-area {
    margin: auto;
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 4px;
    width: 308px;
    height: 270px;
    display: table;
    z-index: 1;
}

.band-container {
    display: table-row;
}

.band-positioner {
    display: table-cell;
    vertical-align: middle;
}

.band {
    width: 44px;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#knit {
    display: inline-block;
    cursor: pointer;
}
