body,
html {
    background-color: #383042;
}

#sweater,
#sweater-container {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#sweater-container {
    width: 850px;
    height: 1000px;
    background: url("/img/sweatshirt-blank-mirrored.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

#sweater {
    width: 530px;
    height: 740px;
}